.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    box-shadow: 0px 0px 1px rgba(67, 90, 111, 0.47), 0px 3px 6px rgba(67, 90, 111, 0.3);
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 4;
    background: $white;
    margin-top: 60px;
    &.active {
        width: 18%;
    }
    nav{
        height: calc(100vh - 100px);
        .sidebar-nav{
            list-style: none;
            padding-left: 0;
            height: 100%;
            position: relative;
            padding-top: 25px;
                .nav-brand{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    height: 60px;
                    padding: 0 20px;
                    justify-content: center;
                    color: $primary-400;
                    height: auto;
                    .bg-logo-company{
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 150px;
                        height: 150px;
                        margin: auto;
                    }
                }
                .nav-item{
                    .nav-link-wrapper{
                        display: flex;
                        align-items: center;
                        padding-left: 20px;
                        border-left: 4px solid transparent;
                        .icon {
                            width: 20px;
                            text-align: center;
                        }
                        .nav-link{
                            color: $primary-400;
                            padding: 8px 15px;
                            border-left: 4px solid transparent;
                            font-size: 16px;
                            &:hover{
                                color: $primary-400;
                            }
                            &:focus{
                                color: $primary-400;
                            }
                        }
                        svg{
                            path{
                                fill: $primary-400;
                            }
                        }
                    }
                    .active.router-link-active{
                        .nav-link-wrapper{
                            border-left: 4px solid $primary-400;
                            .nav-link{
                                color: $primary-400;
                            }
                            svg{
                                path{
                                    fill: $primary-400;
                                }
                            }
                        }
                    }
                   
                }
        }
    }
}

.page-wrap{
    float: right;
    width: 100%;
    transition: width 0.3s ease;
    &.active {
        width: 82%;
    }
    .main-body{
        padding: 20px;
        margin: 30px 15px;
        background: $white;
        border-radius: 10px;
        border: 1px solid $gray-100;
    }
} 

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: $white;
    color: $gray-900;
    padding: 0 20px;
    .logo-brand{
        width: 60px;
        height: 100%;
        padding-top: 0;
        margin-left: 15px;
    }
    .open-menu{       
        cursor: pointer;
        svg{
            path{
                fill: $gray-900;
            }
        }
        &.active {
            display: none;
        }
    }
    .close-menu{
        cursor: pointer;
        display: none;
        svg{
            path{
                fill: $gray-900;
            }
        }
        &.active {
            display: block;
        }
    }
}
