.theme-dark{
    background-color: $gray-900;
    &.navbar{
        background: $gray-800;
        box-shadow: none;
        border-bottom: 1px solid $gray-400;
        .navbar-nav{
            .nav-item{
                a{
                    &.active{
                        .nav-link{
                            box-shadow: none;
                            background: $gray-900;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .white-background{
        background-color: $gray-800;
        border-bottom: 0;
        a{
            color: $white;
        }
    }
    .main{
        height: 100%;
        min-height: calc(100vh - 157px); 
        .wrapper-target{
            background: $gray-800;
        }
    }

    .group-conversationList{
        background-color: $gray-800;
        .main-title{
            color: $white;
        }
        .group-search{
            svg{
                path{
                    fill: $white;
                }
            }
            .el-input{
                input{
                    background-color: transparent;
                    color: $white;
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $gray-200;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: $gray-200;
                    }
                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: $gray-200;
                    }
                }
            } 
        }
        .group-tab{
            .el-tabs{
                &--border-card{
                    background-color: transparent;
                    .el-tabs{
                        &__header{
                            .el-tabs{
                                &__item{
                                    background-color: $gray-800;
                                    svg{
                                        path{
                                            fill: $white;
                                        }
                                    }
                                    &.is-active{
                                        svg{
                                            path{
                                                fill: $primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .el-tabs{
                        &__nav{
                            background-color: $gray-800;
                        }
                    }
                }
            }
        }
        .group-chatList{
            .chat-list{
                .name, 
                .latest-chat{
                   color: $white;
                }
                &.active{
                    background: $gray-700;
                }
            }
           
        } 
    }

    .group-chatBox{
        background-color: $gray-800;
        color: $white;
        .header{
            color: $white;
        }
        .content{
            background-color: $gray-900;
        }
        .footer{
            textarea{
                background-color: $gray-800;
                color: $white;
                border-bottom: 0;
            }
        }
    }
    
    .group-infoBox {
        background-color: $gray-800;
        color: $white;
    }

    .navbar-nav {
        .dropdown-menu{
            background-color: $gray-700;
            .dropdown-item{
                color: $white;
                a{
                    color: $white;
                }
                &:hover{
                    background-color: $gray-800;
                }
                &:focus{
                    background-color: $gray-800;
                }
                &:active{
                    background-color: $gray-800;
                }
            }
        }
    }

    .card{
        background-color: $gray-800;
        .card-body{
            .created-date{
                color: $white;
            }
            .status{
                background: transparent;
            } 
            .relative-group-icon{
                &:first-child{
                    color: $white;
                    .number{
                        color: $white;
                    }
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                }
                &:last-child{
                    color: $white;
                    .number{
                        color: $white;
                    }
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                }
            }
            .content{
                color: $white;
            }
            .name-avatar{
                color: $white;
            }
        }
    }
    
    input{
        &.input-primary{
            background-color: transparent;
            border: 1px solid $gray-400;
            color: $white;
            &:hover,
            &:focus,
            &:active{
                border: 1px solid $gray-400;
            }
        }
    }
    .btn{
        &.btn-secondary{
            &.btn-switchLayout{
                background: transparent;
                &:hover{
                    border: 1px solid $primary;
                    color: $primary;
                }
                &:focus{
                    border: 1px solid $primary;
                    color: $primary;
                }
                &:focus{
                    border: 1px solid $primary;
                    color: $primary;
                }
            }
        }
    }

    .el-select{
        .el-input{
            .el-input{
                &__inner{
                    color: $white;
                    background-color: transparent;
                    border: 1px solid $gray-400;
                    &:hover{
                        border: 1px solid $gray-400;
                    }
                    &:focus{
                        border: 1px solid $gray-400;
                    }
                    &:active{
                        border: 1px solid $gray-400;
                    }
                }
            }
            .el-input{
                &__suffix{
                    .el-input{
                        &__suffix-inner{
                            .el-select{
                                &__caret{
                                    color: $white;
                                }
                            }     
                        }
                    }
                }
            }
        }
    }
    .el-pagination{
        &__sizes{
            .el-select {
                &.el-select--mini{
                    .el-input{
                        &__inner{
                            background-color: $gray-800;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .el-pagination{
        &.is-background{
            .btn-prev{
                background-color: $gray-800;
                .el-icon{
                    color: $white;
                }
            }
            .btn-next{
                background-color: $gray-800;
                .el-icon{
                    color: $white;
                }
            }
            .el-pagination{
                &__jump{
                    color: $white;
                    .el-input{
                        &.el-pagination{
                            &__editor{
                                .el-input{
                                    &__inner{
                                        background-color: $gray-800;
                                        color: $white;
                                        border: 1px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .el-progress {
        &.el-progress--line{
            .el-progress{
                &__text{
                    color: $white;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 7px;
        height: 10px;
        background: $gray-300;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $gray-700;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $gray-100;
        border-radius: 10px;
    }
}