//Colors

$white:           #ffffff !default;
$warning:         #ffaa00;
$medium-success:  #039f4b;
$light-success:   #63D471;
$general:         #0087eb;
$red:             #FF0000;
$orange:          #FF4B2B;
$pink:            #FF416C;
$light-cyan:      #80CED7;
$medium-cyan:     #007EA7;

$primary:         #0F62FE;
$primary-100:     mix(white,$primary, 70%);
$primary-200:     mix(white,$primary, 50%);
$primary-300:     mix(white,$primary, 30%);
$primary-400:     mix(white,$primary, 10%);
$primary-600:     mix(black,$primary, 10%);
$primary-700:     mix(black,$primary, 30%);
$primary-800:     mix(black,$primary, 50%);
$primary-900:     mix(black,$primary, 70%);

$secondary:       #fff7d7;

$gray:            #878D96;
$gray-100:        mix(white,$gray, 70%);
$gray-200:        mix(white,$gray, 50%);
$gray-300:        mix(white,$gray, 30%);
$gray-400:        mix(white,$gray, 10%);
$gray-600:        mix(black,$gray, 10%);
$gray-700:        mix(black,$gray, 30%);
$gray-800:        mix(black,$gray, 50%);
$gray-900:        mix(black,$gray, 70%);

$blue:          #0043CE;
$red:           #DA1E28;
$yellow:        #F1C21B;
$green:         #24A148;














