.group-avatar{
    color: $gray-900;
    position: relative;
    &:hover{
        color: $gray-900;
    }
    &:focus{
        color: $gray-900;
    }
    svg{
        path{
            fill: $gray-900;
        }
    }
    .avatar-without-img{
        border: 1px solid $gray-100;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-100;
        color: $gray-900;
    }
    .avatar-with-img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}

.avatar-circle{
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid $gray-100;
    border-radius: 50%;
    margin: auto;
    &.original{
        width: auto;
        height: auto;
        background: $white;
    }
    &.chatList{
        width: 60px;
        height: 60px;
        margin: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.square{
        border-radius: 0;
        width: 100%;
        height: 300px;
        img{
            border-radius: 0;
        }
        .logo{
            height: 100%;
            div{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .group-edit-avatar{
        position: absolute;
        right: 0;
        top: 5px;
        svg{
            width: 25px !important;
            height: 25px;
            path{
                fill: $gray-600;
            }
        }
        .avatar-input{
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 2px;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.logo-company{
    width: 40px;
    height: 40px;
    &.without-image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $gray-100;
        border-radius: 20px;
    }
    &.with-image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $gray-100;
        border-radius: 20px;
    }
}
