.btn{
    &.btn-primary{
        background: $blue-500;
        border: 1px solid transparent;
        color: $white;
        transition: all 0.1s linear;
        border-radius: 4px;
        &.btn-small{
            padding: 6px 12px;
            font-size: 12px;
        }
        &.btn-medium{
            padding: 8px 16px;
            font-size: 14px;
        }
        &.btn-large{
            padding: 8px 20px;
            font-size: 16px;
        }
        &:hover{
            background: $blue-500;
            border: 1px solid transparent;
            color: $white;
            transition: all 0.1s linear;
        }
        &:focus{
            background: $blue-500;
            border: 1px solid transparent;
            color: $white;
            transition: all 0.1s linear;
        }
        &:active{
            background: $blue-500;
            border: 1px solid transparent;
            color: $white;
            transition: all 0.1s linear;
        }
    }
    &.btn-secondary{
        background: $white;
        color: $blue-500;
        border: 1px solid $blue-500;
        transition: all 0.1s linear;
        border-radius: 4px;
        &.btn-small{
            padding: 6px 12px;
            font-size: 12px;
        }
        &.btn-medium{
            padding: 8px 16px;
            font-size: 14px;
        }
        &.btn-large{
            padding: 8px 20px;
            font-size: 16px;
        }
        &:hover{
            background: $blue-500;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.1s linear;
        }
        &:focus{
            background: $blue-500;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.1s linear;
        }
        &:active{
            background: $blue-500;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.1s linear;;
        }
    }
    &.btn-point-click{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        svg{
            path{
                fill: $white;
            }
        }
    }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background: $blue-500;
    border-color: $blue-500;
}