.btn{
    &.btn-primary{
        background: $primary;
        border: 1px solid transparent;
        color: $white;
        transition: all 0.1s linear;
        border-radius: 4px;
        &.btn-small{
            padding: 6px 12px;
            font-size: 12px;
        }
        &.btn-medium{
            padding: 8px 16px;
            font-size: 14px;
        }
        &.btn-large{
            padding: 8px 20px;
            font-size: 16px;
        }
        &:hover{
            background: $primary-400;
            border: 1px solid transparent;
            color: $white;
            transition: all 0.1s linear;
        }
        &:focus{
            background: $primary-700;
            border: 1px solid transparent;
            color: $white;
            transition: all 0.1s linear;
        }
        &:active{
            background: $primary-700;
            border: 1px solid transparent;
            color: $white;
            transition: all 0.1s linear;
        }
    }
    &.btn-secondary{
        background: $white;
        color: $primary;
        border: 1px solid $primary;
        transition: all 0.1s linear;
        border-radius: 4px;
        &.btn-small{
            padding: 6px 12px;
            font-size: 12px;
        }
        &.btn-medium{
            padding: 8px 16px;
            font-size: 14px;
        }
        &.btn-large{
            padding: 8px 20px;
            font-size: 16px;
        }
        &:hover{
            background: $primary;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.1s linear;
        }
        &:focus{
            background: $primary;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.1s linear;
        }
        &:active{
            background: $primary;
            color: $white;
            border: 1px solid transparent;
            transition: all 0.1s linear;;
        }
    }
    &.btn-point-click{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        svg{
            path{
                fill: $white;
            }
        }
    }
    &.btn-chat{
        position: absolute;
        background: $primary;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        top: 15px;
        width: 32px;
        height: 32px;
        &.mail{
            right: 20px;
        }
        &.image{
            right: 65px;
        }
        &.stiker{
            right: 110px;
        }
    }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background: $primary;
    border-color: $primary;
}