.btn{
    &.btn-primary{
        background: $white;
        border: 1px solid $light-cyan;
        color: $light-cyan;
        transition: all 0.1s linear;
        border-radius: 20px;
        font-size: 12px;
        font-weight: bold;
        padding: 10px 25px;
        &:hover{
            background: linear-gradient(to top, $light-cyan, $medium-cyan);
            border: 1px solid $light-cyan;
            color: $white;
            transition: all 0.1s linear;
        }
        &:focus{
            background: linear-gradient(to top, $light-cyan, $medium-cyan);
            border: 1px solid $light-cyan;
            color: $white;
            transition: all 0.1s linear;
        }
        &:active{
            background: linear-gradient(to top, $light-cyan, $medium-cyan);
            border: 1px solid $light-cyan;
            color: $white;
            transition: all 0.1s linear;
        }
    }
    &.btn-secondary{
        background: $white;
        border: 1px solid $grey-6;
        color: $grey-6;
        transition: all 0.1s linear;
        border-radius: 20px;
        font-size: 12px;
        font-weight: bold;
        padding: 10px 25px;
        &:hover{
            background: linear-gradient(to top, $grey-4, $grey-6);
            border: 1px solid $grey-6;
            color: $white;
            transition: all 0.1s linear;
        }
        &:focus{
            background: linear-gradient(to top, $grey-4, $grey-6);
            border: 1px solid $grey-6;
            color: $white;
            transition: all 0.1s linear;
        }
        &:active{
            background: linear-gradient(to top, $grey-4, $grey-6);
            border: 1px solid $grey-6;
            color: $white;
            transition: all 0.1s linear;
        }
    }
    &.btn-point-click{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        svg{
            path{
                fill: $white;
            }
        }
    }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background: linear-gradient(to top, $light-cyan, $medium-cyan);
    border-color: $light-cyan;
}