.created-date{
    color: $gray-400;
    font-size: 12px;
}

.card{
    box-shadow: 0 1px 5px rgba($gray-900, .1), 0 1px 5px rgba($gray-900, .1);
    border-radius: 12px;
    .card-body{
        .title{
            font-family: $Primary-Semibold;
            font-size: 13px;
        }
        .content{
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .result{
                color: $primary-400;
            }
        }
    }
}