.created-date{
    color: $grey-5;
    font-size: 12px;
}

.card{
    box-shadow: 0 1px 5px rgba($grey-8, .1), 0 1px 5px rgba($grey-8, .1);
    border-radius: 12px;
    .card-body{
        .title{
            font-family: $Primary-Semibold;
            font-size: 13px;
        }
        .content{
            font-size: 16px;
            .result{
                color: $light-cyan;
            }
        }
    }
}