.created-date{
    color: $gray-400;
    font-size: 12px;
}

.card{
    box-shadow: 0px 0px 1px rgba(0, 17, 65, 0.47);
    border-radius: 4px;
    .card-body{
        .grid{
            margin-bottom: 24px;
        }
        .list{
            margin-bottom: 0;
        }
        .title{
            font-family: $Primary-Semibold;
            font-size: 14px;
            color: $gray-400;
        }
        .content{
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .result{
                color: $primary-400;
            }
        }
        .group-relation{
            text-align: center;
            .text{
                font-size: 10px;
            }
            .icon {
                &.arrow-long{
                    font-size: 22px;
                }
            }
        }
    }
}
