input{
	&.input-primary{
		background-color: $white;
		border: 1px solid $gray-100;
		width: 100%;
		outline: none;
		&:read-only {
			background-color: $gray-100;
			border: 1px solid transparent;
			cursor: not-allowed;
			&:hover{
				border: 1px solid transparent;
			}
			&:focus{
				border: 1px solid transparent;
			}
			&:hover{
				border: 1px solid transparent;
			}
		}
		&.small{
			font-size: 12px;
			border-radius: 2px;
			padding: 8px 12px;
		}
		&.medium{
			font-size: 14px;
			border-radius: 4px;
			padding: 9px 8px;

		}
		&.large{
			font-size: 14px;
			border-radius: 4px;
			padding: 11px 16px;
		}
		&:hover{
			border: 1px solid $blue;
		}
		&:focus{
			border: 1px solid $blue;
		}
		&:hover{
			border: 1px solid $blue;
		}
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $gray-200;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: $gray-200;
		}
		&::-ms-input-placeholder { /* Microsoft Edge */
			color: $gray-200;
		}
	}
}

textarea{
	padding: 8px 16px;
	border: 1px solid $gray-200;
	outline: none;
	&:hover{
		border-color: $blue;
	}
	&:focus{
		border-color: $blue;
	}
	&:active{
		border-color: $blue;
	}
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $gray-200;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $gray-200;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
		color: $gray-200;
	}
}

.form-group, .row{
	&.has-error{
		input{
			border-color: $red;
		}
	}
}
