.status{
    width: 100%;
    border-radius: 4px;
    padding: 8px 20px;
    width: 100%;
    max-width: 160px;
    font-size: 16px;
    font-family: $Primary-Semibold;
    color: $white;
    text-align: center;
    border: 1px solid transparent;
    &.success{
        border: 1px solid $green;
        background: $white;
        color: $green;
        a{
            color: $green;
        }
    }
    &.warning{
        border: 1px solid $yellow;
        background: $white;
        color: $yellow;
        a{
            color: $yellow;
        }
    }
    &.danger{
        border: 1px solid $red;
        background: $white;
        color: $red;
        a{
            color: $red;
        }
    }
}