.tag{
    width: 80px;
    height: 100%;
    color: $white !important;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    padding: 4px;
    font-family: $Primary-Semibold;
    &.primary{
        background: $primary;
    }
    &.info{
        background: $yellow;
    }
    &.success{
        background: $green;
    }
    &.danger{
        background: $red;
    }
}