.el-collapse{
    &.sub-goal{
        border-top: 0;
        border-bottom: 0;
    }
    .el-collapse-item{
        &__header{
            border-bottom: 0;
        }
        &__wrap{
            border-bottom: 0;
        }
        &.board-wallpapers{
            .el-collapse-item{
                &__wrap{
                    overflow: auto;
                    height: calc(100vh - 300px);
                }
            }
        }
    }
}