.el-select{
    width: 100%;
    .el-input{
        &.is-focus{
            .el-input{
                &__inner{
                    border-color: $blue !important;
                }
            }
        }
        &__inner{
            &:hover{
                border-color: $blue !important;
            }
            &:focus{
                border-color: $blue !important;
            }
            &.is-active{
                border-color: $blue !important;
            }
        }
    }
}

.el-select-dropdown{
    .el-select-dropdown{
        &__item{
            &.selected{
                color: $blue-600;
            }
            &.hover{
                background-color: rgba($blue, 0.03);
            }
        }
    }
}
