.el-select{
    width: 100%;
    .el-input{
        .el-input{
            &.is-focus{
                .el-input{
                    &__inner{
                        border-color: $blue;
                    }
                }
            }
            &__inner{
                &:hover{
                    border-color: $blue;
                }
                &:focus{
                    border-color: $blue;
                }
                &.is-active{
                    border-color: $blue;
                }
            }
        }
    }
}

.el-select-dropdown{
    .el-select-dropdown{
        &__item{
            &.selected{
                color: $blue-600;
            }
            &.hover{
                background-color: rgba($blue, 0.03);
            }
        }
    }
}
