.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: $primary-400 !important;
    color: $white !important;
}

.el-pager li:hover{
    color: $primary-400 !important;
}