.wrapper-target{
    background: $white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba($gray-900, .1), 0 1px 5px rgba($gray-900, .1);
    .title{
        font-size: 21px;
        font-family: $Primary-Semibold;
        text-align: center;
    }
}